extends ../layout 

block content 
    div
        label(for="userId") 아이디: #{user.userId}
    div
        label(for="password") 비밀번호: #{user.password}
    div
        label(for="name") 이름: #{user.name}
    div
        label(for="sex") 성별: #{user.sex}
    div
        label(for="birth") 생년월일: #{user.birth}
    div
        label(for="phone") 휴대폰: #{user.phone}
    div
        label(for="address1") 주소1: #{user.address1}
    div
        label(for="address2") 주소2: #{user.address2}
    div
        label(for="postNumber") 우편번호: #{user.postNumber}
    div
        label(for="memberFg") 회원상태: #{user.memberFg}
    div
        label(for="createAt") 생성일자: #{user.createAt}
    div
        label(for="createUser") 생성자: #{user.createUser}
    div
        label(for="updateAt") 최근수정일: #{user.updateAt}
    div 
        label(for="updateUser") 수정자: #{user.upateUser}
    